Source/.vs/
Source/Tracy/GeneratedFiles/
Source/Tracy/x64/
Source/x64/
*.user
Source/TracyApp/GeneratedFiles/
Source/TracyApp/x64/
Source/SPIRVGen/x64/
Source/SPIRVGenTest/x64/
*.spv
/Source/Engine/x64/
Source/SPIRVShaderFactory/x64/
*.orig
